.content1 {
  max-width: 1000px;
  min-width: 300px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #fff;
  padding: 14px 28px;
  border-radius: 3px;
}

.paragraf {
  font-size: medium;
  font-family: sans-serif;
  text-align: left;
}

.close-btn1 {
  color: #fff;
  background: #111;
  margin: auto;
  justify-items: center;
  padding: 10px;
  font-size: 15px;
}
