html {
  height: 100vmax;
}

body {
  margin: 0;
}

.CereriPF-Bg {
  padding-bottom: 100vmax;
  background: rgb(241, 240, 252);
  background: linear-gradient(
    90deg,
    rgba(241, 240, 252, 1) 0%,
    rgba(254, 254, 254, 1) 50%,
    rgba(225, 250, 255, 1) 100%
  );
}
