body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  color: #fff;
  background: #111;
  display: block;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgb(235, 235, 235);
  filter: blur(1px);
  pointer-events: none;
  user-select: none;
}

.modal-content {
  margin-top: 80px;
  max-width: 900px;
  min-width: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #fff;
  padding: 15px 28px;
  border-radius: 3px;
}
